body {
  background-color: #f2f2f2;
}
#categoryMenu {
  margin: 5px;
  background-color: #ebebeb;
}
#categoryMenu ul {
  border: 1px solid #ccc;
}
#categoryMenu ul li {
  width: 100%;
  height: 100%;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  padding: 0 15px;
}
#categoryMenu ul li span {
  font-size: 16px;
  font-weight: 700;
}
#categoryMenu ul li i {
  display: block;
  background: url("http://www.zuyushop.com/wap/images/arrow1.gif") no-repeat;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: 15px;
}
#categoryMenu ul .row {
  background-color: #fff;
  margin: 0;
}
#categoryMenu ul .row div {
  padding-left: 0;
  padding-right: 0;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
}
#categoryMenu ul .row div a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 14px;
}
